.form-container {
    width: 40rem;
    background-color: #FFFFFF;
    top: 150px;
}

p{
    font-size:18px;
    font-weight:500;
    font-style: italic;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.form-label__register {
    font-size: 20px;
    color: rgb(87, 83, 83);
    align-self: flex-start;
    margin-left: 5px;
}

.form-control {
    width: 25rem;
    height: 30px;
    border-radius: 10px;
    font-family:"italic";
    border: 2px solid #446ffd;
    margin: 5px;
    align-self: flex-start;
}

.register-button{
    border: 2px solid #446ffd;
    width:150px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
}

.back__label {
    font-style: italic;
    font-weight: bold;
    text-decoration:solid;
    text-decoration-line: underline;
    font-size: 18px;
    margin: 0 auto;
    
}

.forget-password__label {
    font-style: italic;
    font-weight: 500;
    text-decoration:solid;
    text-decoration-line: underline;
    font-size: 15px;
    color: #446ffd;
    margin: 10px;
}

.sign-up__label , .forget-password__label, .back__label, .login-button:hover{
    cursor: pointer;
}